# Hate Speech Detector 2.0
---
**Web scraping**
1. Scraping (downloading) the tweets from web.
2. Saving downloaded tweets into .csv files.

In [1]:
import nest_asyncio
nest_asyncio.apply()

import twint

from datetime import datetime, timedelta, date

from src.webscraping import amount_from_each_day, multiple_searches
from src.constants import SUPPLEMENT_RAW_DIR, SANITIZED_PATH, SUPPLEMENT_SANITIZED_DIR, ALL_SANITIZED_PATH

start_date = '2019-12-19'
end_date = '2020-03-06'
file_label = f'{start_date.split("-")[0]}-{start_date.split("-")[1]}{end_date.split("-")[1]}'

amount_from_each_day(start_date, end_date, topic='sądy', lang='pl',
                     file_name=SUPPLEMENT_RAW_DIR.replace('{}', file_label))

multiple_searches(in_file='data/vulgars/polish_vulgars.txt', out_folder='data/vulgars_main')

multiple_searches(in_file='data/vulgars/polish_additionalwn_vulgars.txt', out_folder='data/vulgars_additionalwn')

In [2]:
import os
import pandas as pd
import numpy as np

In [4]:
df_all = pd.concat([pd.read_csv(f'data/tweets_supplement/{name}')
                    for name in os.listdir('data/tweets_supplement') if name != 'sady_supplement_raw.csv'],
                   ignore_index=True, sort=False)
df_all.to_csv(SUPPLEMENT_RAW_DIR.replace('{}', 'supplement'))

/home/jakub/Dokumenty/venv36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [3]:
pd.read_csv(SANITIZED_PATH).columns

/home/jakub/Dokumenty/venv36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'emojis', 'emoticons',
       'mentions', 'urls', 'photos', 'replies_count', 'retweets_count',
       'likes_count', 'hashtags', 'cashtags', 'link', 'retweet', 'quote_url',
       'video', 'near', 'geo', 'source', 'user_rt_id', 'user_rt', 'retweet_id',
       'reply_to', 'retweet_date', 'translate', 'trans_src', 'trans_dest',
       'new_id'],
      dtype='object')

In [4]:
pd.read_csv(SUPPLEMENT_SANITIZED_DIR.replace('{}', 'supplement')).columns

Index(['Unnamed: 0', 'id', 'conversation_id', 'created_at', 'date', 'time',
       'timezone', 'user_id', 'username', 'name', 'place', 'emojis',
       'emoticons', 'tweet', 'language', 'mentions', 'urls', 'photos',
       'replies_count', 'retweets_count', 'likes_count', 'hashtags',
       'cashtags', 'link', 'retweet', 'quote_url', 'video', 'thumbnail',
       'near', 'geo', 'source', 'user_rt_id', 'user_rt', 'retweet_id',
       'reply_to', 'retweet_date', 'translate', 'trans_src', 'trans_dest'],
      dtype='object')

In [5]:
df_20142020 = pd.concat([pd.read_csv(SANITIZED_PATH).drop(['new_id'], axis=1),
                         pd.read_csv(SUPPLEMENT_SANITIZED_DIR.replace('{}', 'supplement')).drop(['Unnamed: 0'], axis=1)],
                        ignore_index=True, sort=False)
df_20142020 = df_20142020.sort_values(['date', 'time'])
df_20142020['id'] = list(range(len(df_20142020)))
df_20142020.to_csv(ALL_SANITIZED_PATH, index=False)

In [6]:
df_20142020

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,language,thumbnail
9,0,"4,74799273478226E+017",1402035942000,2014-06-06,08:25:42,CEST,2472598111,74mvhone,R8,NaN,...,NaN,NaN,NaN,"[{'user_id': '2472598111', 'username': '74MVHO...",NaN,NaN,NaN,NaN,NaN,NaN
8,1,"4,74818190787093E+017",1402040453000,2014-06-06,09:40:53,CEST,549513785,stanislawiskra,Stanisław Iskra,NaN,...,NaN,NaN,NaN,"[{'user_id': '549513785', 'username': 'Stanisl...",NaN,NaN,NaN,NaN,NaN,NaN
7,2,"4,74820081826812E+017",1402040903000,2014-06-06,09:48:23,CEST,612811056,grzesk44,Grzegorz Karnicki,NaN,...,NaN,NaN,NaN,"[{'user_id': '612811056', 'username': 'grzesk4...",NaN,NaN,NaN,NaN,NaN,NaN
6,3,"4,74824033209684E+017",1402041845000,2014-06-06,10:04:05,CEST,172878773,nirinayves,Nirina Yves Andrianaivojaona,NaN,...,NaN,NaN,NaN,"[{'user_id': '172878773', 'username': 'NirinaY...",NaN,NaN,NaN,NaN,NaN,NaN
5,4,"4,74871109943562E+017",1402053069000,2014-06-06,13:11:09,CEST,2306179974,niickme0ne,QUI,NaN,...,NaN,NaN,NaN,"[{'user_id': '2306179974', 'username': 'niickm...",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117605,229388,"1,26177130539905E+018",1589664696000,2020-05-16,23:31:36,CEST,"1,06409440271975E+018",madziamf,Magdalena Matusiak-Frącczak 🦉🇵🇱🇪🇺,NaN,...,NaN,NaN,NaN,"[{'user_id': '1064094402719752192', 'username'...",NaN,NaN,NaN,NaN,NaN,NaN
117604,229389,"1,26174535458164E+018",1589665065000,2020-05-16,23:37:45,CEST,913288532,szymon1985,Simon Mówi ...,NaN,...,NaN,NaN,NaN,"[{'user_id': '913288532', 'username': 'Szymon1...",NaN,NaN,NaN,NaN,NaN,NaN
117603,229390,"1,2617652130383E+018",1589665966000,2020-05-16,23:52:46,CEST,"1,04162046414415E+018",pisanty2,pisANTY,NaN,...,NaN,NaN,NaN,"[{'user_id': '1041620464144146433', 'username'...",NaN,NaN,NaN,NaN,NaN,NaN
117602,229391,"1,26176907368115E+018",1589665976000,2020-05-16,23:52:56,CEST,2824815304,marhon17,Mariusz Honkisz#SilniRazem,NaN,...,NaN,NaN,NaN,"[{'user_id': '2824815304', 'username': 'marhon...",NaN,NaN,NaN,NaN,NaN,NaN
117601,229392,"1,26177682802226E+018",1589666013000,2020-05-16,23:53:33,CEST,582202344,djankowski10,Dariusz Jankowski #Trzaskowski2020,NaN,...,NaN,NaN,NaN,"[{'user_id': '582202344', 'username': 'djankow...",NaN,NaN,NaN,NaN,NaN,NaN